<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>ValidarUsuario</servlet-name>
  	<display-name>ValidarUsuario</display-name>
  	<description></description>
  	<servlet-class>es.altair.controller.ValidarUsuario</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegistrarUsuario</servlet-name>
  	<display-name>RegistrarUsuario</display-name>
  	<description></description>
  	<servlet-class>es.altair.controller.RegistrarUsuario</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AnadirPelicula</servlet-name>
  	<display-name>AnadirPelicula</display-name>
  	<description></description>
  	<servlet-class>es.altair.controller.AnadirPelicula</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CerrarSesion</servlet-name>
  	<display-name>CerrarSesion</display-name>
  	<description></description>
  	<servlet-class>es.altair.controller.CerrarSesion</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditarPelicula</servlet-name>
  	<display-name>EditarPelicula</display-name>
  	<description></description>
  	<servlet-class>es.altair.controller.EditarPelicula</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BorrarPelicula</servlet-name>
  	<display-name>BorrarPelicula</display-name>
  	<description></description>
  	<servlet-class>es.altair.controller.BorrarPelicula</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegistrarUsuarioAdmin</servlet-name>
  	<display-name>RegistrarUsuarioAdmin</display-name>
  	<description></description>
  	<servlet-class>es.altair.controller.RegistrarUsuarioAdmin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BorrarUsuario</servlet-name>
  	<display-name>BorrarUsuario</display-name>
  	<description></description>
  	<servlet-class>es.altair.controller.BorrarUsuario</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegistrarUsuarioEspecial</servlet-name>
  	<display-name>RegistrarUsuarioEspecial</display-name>
  	<description></description>
  	<servlet-class>es.altair.controller.RegistrarUsuarioEspecial</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegistrarUsuarioEsp</servlet-name>
  	<display-name>RegistrarUsuarioEsp</display-name>
  	<description></description>
  	<servlet-class>es.altair.controller.RegistrarUsuarioEsp</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AnadirPeliculaAdmin</servlet-name>
  	<display-name>AnadirPeliculaAdmin</display-name>
  	<description></description>
  	<servlet-class>es.altair.controller.AnadirPeliculaAdmin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BorrarPeliculaAdmin</servlet-name>
  	<display-name>BorrarPeliculaAdmin</display-name>
  	<description></description>
  	<servlet-class>es.altair.controller.BorrarPeliculaAdmin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditarUsuario</servlet-name>
  	<display-name>EditarUsuario</display-name>
  	<description></description>
  	<servlet-class>es.altair.controller.EditarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ValidarUsuario</servlet-name>
  	<url-pattern>/ValidarUsuario</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegistrarUsuario</servlet-name>
  	<url-pattern>/RegistrarUsuario</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AnadirPelicula</servlet-name>
  	<url-pattern>/AnadirPelicula</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CerrarSesion</servlet-name>
  	<url-pattern>/CerrarSesion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditarPelicula</servlet-name>
  	<url-pattern>/EditarPelicula</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BorrarPelicula</servlet-name>
  	<url-pattern>/BorrarPelicula</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegistrarUsuarioAdmin</servlet-name>
  	<url-pattern>/RegistrarUsuarioAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BorrarUsuario</servlet-name>
  	<url-pattern>/BorrarUsuario</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegistrarUsuarioEspecial</servlet-name>
  	<url-pattern>/RegistrarUsuarioEspecial</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegistrarUsuarioEsp</servlet-name>
  	<url-pattern>/RegistrarUsuarioEsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AnadirPeliculaAdmin</servlet-name>
  	<url-pattern>/AnadirPeliculaAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BorrarPeliculaAdmin</servlet-name>
  	<url-pattern>/BorrarPeliculaAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditarUsuario</servlet-name>
  	<url-pattern>/EditarUsuario</url-pattern>
  </servlet-mapping>
</web-app>
